<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bupt.Mapper.AttendanceMapper">
    <select id="select" resultType="com.bupt.Pojo.AttendanceVO" >
        select a.id,a.doctor_id,a.attendance_time,a.register_number,a.status,d.name doctor_name
        from attendance a left join doctor d on a.doctor_id=d.id
        <where>
            a.doctor_id=#{id}
            <if test="begin!=null and end!=null">and a.attendance_time between #{begin} and #{end} </if>
        </where>
        order by a.attendance_time desc
    </select>
    <update id="update">
        update attendance
        <set>
            <if test="registerNumber">register_number = #{registerNumber},</if>
            <if test="status !=null">status = #{status},</if>
        </set>
        where id=#{id}
    </update>
</mapper>